apiVersion: v1
kind: Service
metadata:
  name: user
  labels:
    app.kubernetes.io/name: xcoding
    app.kubernetes.io/instance: xcoding
    app.kubernetes.io/component: user
spec:
  type: ClusterIP
  ports:
    - port: 10051
      targetPort: 10051
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: xcoding
    app.kubernetes.io/instance: xcoding
    app.kubernetes.io/component: user